@media (max-width: 700px) {
  h1,
  #response {
    font-size: 2em;
    position: relative;
    z-index: 2;
  }
  #noThanks p {
    font-size: 15px;
    padding: 10px;
  }

  #yesOfCourse p {
    font-size: 15px;
  }
}
